nav {
    background-color: var(--black06-color);
    border-bottom: 1px dashed var(--black15-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.MR-navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.MR-buttonContainer,
.MR-buttonContainer2 {
    display: flex;
    gap: 14px;
}

.MR-homeButton,
.MR-productButton,
.MR-contactButton {
    font-size: 18px;
    border-radius: 12px;
    padding: 18px 30px;
    font-weight: 500;
}

.MR-homeButton {
    background-color: transparent;
    color: var(--gray70-color);
    border: 1px dashed var(--black15-color);
}

.MR-productButton {
    background-color: var(--black10-color);
    color: var(--gray70-color);
    border: none;
}

.MR-contactButton {
    background-color: var(--brown60-color);
    border: none;
}

.MR-basketButton {
    padding: 18px;
    border: none;
    border-radius: 12px;
    background-color: var(--black10-color);
}

.MR-logo {
    width: 151px;
    height: 28px;
}

/* ✅ القائمة الجانبية عند الأجهزة الصغيرة */
.MR-responsiveNav {
    display: none;
}

.MR-toggleIcon {
    padding: 14px;
    border-radius: 10px;
    border: none;
    background-color: var(--brown60-color);
}

.MR-closeButton {
    display: none;
}

@media (max-width: 1440px) {
    nav {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .MR-homeButton,
    .MR-productButton,
    .MR-contactButton {
        padding: 14px 20px;
        border-radius: 8px;
    }

    .MR-logo {
        width: 129px;
        height: 24px;
    }

    .MR-basketButton {
        padding: 14px;
        border-radius: 8px;
    }
}

@media (max-width: 992px) {
    .MR-logo {
        display: none;
    }

    .MR-navContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: var(--black15-color);
        top: 0;
        left: 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;
        z-index: 1000;
    }

    .MR-navContainer.active {
        transform: translateY(0);
    }

    .MR-buttonContainer,
    .MR-buttonContainer2 {
        flex-direction: column;
        align-items: center;
    }

    .MR-responsiveNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;
    }

    .MR-logo2 {
        width: 120px;
    }

    .MR-closeButton {
        display: block;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .MR-closeButton img {
        width: 30px;
        height: 30px;
    }
}