
.es-tabs {
    padding-left: 80px;
    padding-bottom: 80px;
    font-family: var(--second-font);
    gap: 14px;
    color: var(--gray70-color);
    list-style: none;
}

.es-tab {
    white-space: nowrap;
    cursor: pointer;
    padding: 18px 24px;
    border-radius: 12px;
    transition: .3s ease-in-out;
}

.es-tab.es-active-tab,
.es-tab:hover {
    background-color: var(--brown70-color);
    color: var(--black06-color);
}


@media (max-width: 540px) {
    .es-tabs {
        padding-bottom: 30px;
        padding-left: 20px;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        gap: 10px;
    }
    .es-tab {
        padding: 14px 24px;
    }
}