.ClientsSliderComponent {
  padding: 50px 0;
  overflow: hidden;
}

.ClientsSliderComponent .swiper-wrapper {
  display: flex;
}


/* figma design */
@media (max-width:1919px) {
  .ClientsSliderComponent{
    padding: 40px 0;
  }
}

/* figma design */
@media (max-width:540px) {
  .ClientsSliderComponent {
    padding: 30px 0;
  }
}