

.promo-banner {
  padding-top: 100px;
  width: 100%;
  position: relative;
  border: 2px dashed var(--brown60-color) ;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 50vh; /* Adjust as needed */
  overflow: hidden;
}

.slide-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.promo-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  color: white;
  z-index: 1;
}

.promo-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.promo-text p {
  font-size: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

/* Style for pagination dots */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important; 
  background: var(--brown60-color) !important;
  opacity: 1 !important;
  border-radius: 50% !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}