.adComponent {
  margin: 0 168px 100.5px 168px;
}

.adContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px;
  background-color: var(--brown70-color);
  position: relative;
  overflow: hidden;
}

.adText {
  width: 75.2146465%;
}

.adContent h4 {
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 58px;
  font-weight: 500;
  line-height: 69.6px;
  position: relative;
  z-index: 1;
}

.adContent p {
  font-family: "Roboto";
  margin-top: 16px;
  position: relative;
  z-index: 1;
}

.adComponent button {
  font-family: "Roboto";
  background-color: var(--black12-color);
  padding: 18px 24px;
  border: 0;
  color: var(--white-color);
  position: relative;
  z-index: 1;
}

.adContent img {
  position: absolute;
  right: 0;
}


/* start media */
/* figma design */
@media (max-width:1919px) {
  .adComponent {
    margin: 0 80px 80px;
  }

  .adContent {
    padding: 80px;
  }

  .adContent h4 {
    font-size: 48px;
    line-height: 57.6px;
  }

  .adContent p {
    margin-top: 12px;
  }

  .adComponent button {
    padding: 14px 20px;
  }
}

@media (max-width:1200px) {
  .adContent img {
    top: 0;
  }
}

@media (max-width:992px) {
  .adContent {
    flex-wrap: wrap;
    gap: 30px;
  }

  .adComponent button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .adContent img {
    width: 306px;
  }

}

/* figma design */
@media (max-width: 540px) {
  .adComponent {
    margin: 0 16px 50px 16px;
  }

  .adContent {
    padding: 50px 30px;
  }

  .adText {
    width: 100%;
  }

  .adContent h4 {
    font-size: 38px;
    line-height: 45.6px;
  }

  .adContent p {
    margin-top: 12px;
  }

  .adContent img {
    right: -80px;
    top: -20px;
  }
}