.AA-trends-card{
    position: relative;
    padding: 60px;
    flex: 1 1 calc(33.33% - 10px);
    border-right: 1px dashed var(--black15-color);
    border-bottom: 1px dashed var(--black15-color);
}

.AA-trends-card:nth-child(3),
.AA-trends-card:nth-child(6){
    border-right: 0;
}

.AA-trends-card:nth-last-child(-n+3){
    border-bottom: 0;
}

.AA-bg{
    position: absolute;
    right: 0;
    top: 0;
    width: 186px;
    height: 186px;
}

.AA-icon{
    padding-bottom: 50px;
}

.AA-card-title{
    color: var(--white-color);
    padding-bottom: 16px;
    font-family: var(--main-font);
}

.AA-card-desc{
    color: var(--gray50-color);
    font-family: var(--main-font);
}

@media (max-width: 1919px) {

    .AA-trends-card{
        padding: 50px;
    }

    .AA-bg{
        width: 150px;
        height: 150px;
    }

    .AA-icon{
        padding-bottom: 40px;
    }

    .AA-card-title{
        padding-bottom: 12px;
    }
}

@media (max-width: 1200px) {
    .AA-trends-card{
        flex: 1 1 calc(50% - 10px);
    }

    /* .AA-trends-card:nth-child(4){
        border-bottom: 1px dashed var(--black15-color);
    } */

    /* .AA-trends-card:nth-child(2),
    .AA-trends-card:nth-child(4),
    .AA-trends-card:nth-child(6){
        border-right: 0;
    } */

    /* .AA-trends-card:nth-child(1),
    .AA-trends-card:nth-child(3),
    .AA-trends-card:nth-child(5){
        border-right: 1px dashed var(--black15-color);
    }
     */
}

@media (max-width: 768px) {
    .AA-trends-card{
        flex: 1 1 100%;
        padding: 30px;
        border-right: 0 !important;
        border-bottom: 1px dashed var(--black15-color) !important;
    }

    .AA-trends-card:nth-child(6){
        border-bottom: 0 !important;
    }

    .AA-bg{
        width: 100px;
        height: 100px;
    }

    .AA-icon{
        padding-bottom: 40px;
    }

    .AA-card-title{
        padding-bottom: 12px;
    }
    
    .text-18{
        font-size: 1rem !important;
        line-height: 1.5rem !important;
    }
}
